**/.lit_test_times.txt

.venv
*.code-workspace
lake-packages/
lean_packages/
*~
\#*
.#*
build
GPATH
GRTAGS
GSYMS
GTAGS
.projectile
.lean_options
.vs
.mcp.json
compile_commands.json
*.idea
tasks.json
settings.json
.gdb_history
.vscode
*.produced.out
CMakeSettings.json
CppProperties.json
build/
tags
*.olean
lakefile.olean
.lake/
Test/**/Output/**

**/.ruff_cache
